.hero{
    height: 100vh;
    position: relative;
    // background-color: hsl(0, 0%, 85%,.4);
    &__img{
        position: absolute;
        width: 32rem;
        left: 50%;
        top: 70px;
        transform: translateX(-50%);
        z-index: -1;
        opacity: 0.5;
    }

    &__div{
        padding: 5rem 0;
        text-align: center;
        &--heading1{
            color: #DD2B2B;
            font-size: 2.5rem;
            font-weight: 500;
            margin-top: 3rem;
        }

        &--heading2{
            font-size: 7.5rem;
            font-weight: 800;
        }

        &--para{
            font-size: 1rem;
            text-align: center;
            width: 30%;
            margin: auto;
        }

        &--buttons{
            margin-top: 2.5rem;
            & .btn1{
                background-color: #DD2B2B;
                color: #fff;
                padding: 0.6rem;
            }
            & .btn2{
                color: #fff;
            }
        }
    }

    &__social{
        position: relative;
        color: #DD2B2B;
        &--face{
            position: absolute;
            left: 1.5rem;
            bottom: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

        }
        .line-vert{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                width: 2px;
                height: 100px;
                background: #fff;
                opacity: 30%;
            }
        }

        img{
            width: 45px;
        }
    }


}


.heroSection-container{
    &--contact{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
}

.hero__down{
    text-align: center;

    img{
        margin-left: 2rem;
    }
}