<section id="explore_menu" class="container">
    <div class="explore_menu">
     <div class="line">
      <h2 class="explore_menu--heading text-center text-center">OUR MENU</h2>
      <p class="explore_menu--text text-light text-center">explore <span class="text-muted">our menu</span></p>
     </div>
      <div class="sushi_menu row gap-3"></div>
      <div class="text-center w-100 py-3 sushi_menu-btn-wrapper">
        <button class="text-light bg-transparent outline-none border-0">view full menu</button>
      </div>
    </div>
</section>