<section id="explore_menu" class="container"></section>
    <div class="">
     <div class="line">
      <h2 class="explore_menu--heading text-center text-center">OUR MENU</h2>
      <p class="explore_menu--text text-light text-center">explore <span class="text-muted">our menu</span></p>
     </div>
     <div class="cards">
        <div class="cards__card">
            <img src="../assets/svgs/Rectangle 1.svg" alt="">
            <div class="cards__card--heading">Beverage</div>
        </div>
        <div class="cards__card">
            <img src="../assets/svgs/Rectangle 1.svg" alt="">
            <div class="cards__card--heading">Food</div>
        </div>
        <div class="cards__card">
            <img src="../assets/svgs/Rectangle 1.svg" alt="">
            <div class="cards__card--heading">Desserts</div>
        </div>
     </div>
    </div>
</section>