<section class="container">
    <div class="containerDiv">
        <div class="containerDiv__left">
            <img class="containerDiv__left--img" src="./assets/svgs/mainlogo.svg" alt="">
        </div>
        <div class="containerDiv__right">
            <h1 class="containerDiv__right--heading">ABOUT THE OMAKASE</h1>
            <h2 class="containerDiv__right--subheading">CREATING A <span>NEW WORLD OF FLAVORS</span></h2>

            <p class="containerDiv__right--para">Welcome to Omakase, where the delicate artistry of sushi meets the
                vibrant flavors of Japan. At
                Omakase, we are passionate about delivering an authentic and unforgettable dining experience,
                bringing the essence of traditional Japanese cuisine to every plate.
            </p>
            <p class="containerDiv__right--para">Our master chefs meticulously craft each piece of sushi using the
                freshest, highest-quality ingredients sourced locally and globally. From the rich, buttery taste of
                our sashimi to the perfectly balanced rolls, every bite at Omakase is a testament to our commitment
                to excellence and authenticity.
            </p>
        </div>
    </div>
</section>