<footer>
    <div class="footer">
      <div class="footer__left">
        <div class="footer__left--logo">
          <img class="footer__left--logo--img" src="./assets/svgs/navsushi.svg" alt="" />
          <h1 class="footer__left--logo--heading">SUSHI</h1>
        </div>
        <a class="footer__left--link" href="#">ABOUT</a>
        <a class="footer__left--link" href="#">MENU</a>
        <a class="footer__left--link" href="#">CONTACT</a>
      </div>

      <div class="footer__right">
        <p class="footer__right--para">+23 344 434</p>
        <button class="btn footer__right--btn">Book a table</button>
      </div>
    </div>
  </footer>