<section class="hero">
    <img class="hero__img" src="./assets/svgs/mainlogo.svg" alt="" />
    <div class="hero__div">
      <h2 class="hero__div--heading1">AUTHENTIC SUSHI</h2>
      <h3 class="hero__div--heading2">OMAKASE</h3>
      <p class="hero__div--para">
        Experience the finest sushi crafted by our expert chefs, with every piece tailored to your taste.
      </p>
      <div class="hero__div--buttons">
        <button class="btn btn1">BOOK A TABLE</button>
        <button class="btn btn2">VIEW MENU</button>
      </div>
    </div>

    <div class="hero__down">
      <img src="../assets/svgs/hero1.svg" alt="">
      <img src="../assets/images/heroimage2.png" alt="">
      <img src="../assets/images/heroimage3.png" alt="">
    </div>
    <div class="relative hero__social">
        <div class="hero__social--face">
           <div class="line-vert"></div>
            <img src="../assets/svgs/facebook.svg" alt="">
            <img src="../assets/svgs/instagram.svg" alt="">
            <img src="../assets/svgs/tweeter.svg" alt="">
            
        </div>
    </div>
  </section>