<div class="line container">
  <h2 class="explore_menu--heading text-center text-center">list of</h2>
  <p class="explore_menu--text text-light text-center">our <span class="text-muted">menu</span></p>
 </div>
<section class="container">
  <div class="row" style="margin-top: 1.5rem;">
    <div class=" overflow-hidden col-lg-4 col-md-12 d-flex justify-content-center align-items-center">
      <img src="../assets/svgs/Rectangle 1.svg" alt="" height="500" width="400"/>
    </div>
    <div class="text-light col-lg-8 col-md-12 p-8 h-100 menu_list_item">
      <div class="border-light border-1">
        <h2 class="extra-large_text">BEVERAGE</h2>
        <div class="row beverage_list">
          
        </div>
      </div>

    </div>
  </div>
</section>
<section class="container py-5 my-5">
  <div class="row flex-row-reverse" style="margin-top: 1.5rem;">
    <div class=" overflow-hidden col-lg-4 col-md-12 d-flex justify-content-center align-items-center">
      <img src="../assets/svgs/Rectangle 1.svg" alt="" height="500" width="400"/>
    </div>
    <div class="text-light col-lg-8 col-md-12 p-8 h-100 menu_list_item">
      <div class="border-light border-1">
        <h2 class="extra-large_text">BEVERAGE</h2>
        <div class="row food_list">
          
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row" style="margin-top: 1.5rem;">
    <div class=" overflow-hidden col-lg-4 col-md-12 d-flex justify-content-center align-items-center">
      <img src="../assets/svgs/Rectangle 1.svg" alt="" height="500" width="400"/>
    </div>
    <div class="text-light col-lg-8 col-md-12 p-8 h-100 menu_list_item">
      <div class="border-light border-1">
        <h2 class="extra-large_text">BEVERAGE</h2>
        <div class="row dessert_list">
          
        </div>
      </div>
    </div>
  </div>
</section>