<header>
    <nav class="container nav">
      <div class="nav__left">
        <a class="nav__left--link" href="#">ABOUT</a>
        <a class="nav__left--link" href="#">MENU</a>
        <a class="nav__left--link" href="#">CONTACT</a>
      </div>
      <div class="nav__center">
        <img class="nav__center--img" src="./assets/svgs/navsushi.svg" alt="" />
        <h1 class="nav__center--heading">SUSHI</h1>
      </div>
      <div class="nav__right">
        <p class="nav__right--para">+23 344 434</p>
        <button class="btn nav__right--btn">Book a table</button>
      </div>
    </nav>
  </header>