<section class="">
    <div class="line">
        <h2 class="explore_menu--heading text-center text-center">OUR MENU</h2>
        <p class="explore_menu--text text-light text-center">explore <span class="text-muted">our menu</span></p>
    </div>
    <div class="flex">
        <div class="review">
            svgs
            <h3>waefgwe</h3>
            <p class="text-muted">qWFQWFQwf</p>
            <div class="d-felx">
                start> svg hunu prxa 
                <span class="text-muted">-blablabla</span>
            </div>
        </div>
    </div>

</section>